header {
.logo{
    font-weight: 600;
    font-size: 15%;
}
    .presentation{
        margin: 50px;
        background: url("../../assets/bannerhim1.jpg");
        width: 100%;
        height: 500px;
        background-color: cover;
        background-position: center center;
        position: relative;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
}